.controls {
    display: flex;
    align-content: center;
    padding: 10px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: 6px solid rgb(3, 100, 76);
    border-radius: 0%;
}

.box{
    display:flex;
    align-items: center;
    justify-content: center;
}

.dice {
    background-color: rgb(153, 76, 76);
    padding:10px;
    margin-left:5%;
    border-radius: 25%;
    border-color: rgb(153, 76, 76);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

.startOver {
    background-color: rgb(9, 180, 137);
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left:5%;
    border-radius: 25%;
    border-color: rgb(9, 180, 137);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

.addPawn {
    background-color: white;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left:5%;
    border-radius: 25%;
    border-color: rgb(153, 76, 76);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.movePawn {
    background-color: white;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left:5%;
    border-radius: 25%;
    border-color: rgb(153, 76, 76);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.textBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:1%;
    border-radius: 12px;
    border-color: Black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.startSquareOne {
    background-color: rgb(153, 76, 76);
    padding:1%;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.startSquareTwo {
    background-color: rgb(122, 173, 231);
    padding:19px;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.startSquareThree {
    background-color: rgb(9, 180, 137);
    padding:19px;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.startSquareFour {
    background-color: rgb(184, 176, 109);
    padding:19px;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.square {
    background-color: rgb(231, 220, 122);
    padding:19px;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.occupied {
    background-color: white;
    padding:1%;
    border-radius: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: Black;
}

.filler {
    padding:28px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

.startGame {
    background-color: rgb(9, 180, 137);
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left:45%;
    border-radius: 25%;
    border-color: rgb(9, 180, 137);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}
