.header {
    background-color: white;
    margin-left:20%;
    margin-right:20%;
    text-align:center;
    color: rgb(9, 180, 137);
    font-family: Arial;
    font-size: 2rem;
    margin-bottom: 8px;
}

.navigation {
    display: flex;
    background-color: rgb(3, 100, 76);
    margin-left:0%;
    margin-right:0%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    height: 60px;
}

a:link {
    color:white;
}
